.project-container {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10%;
}

.cover-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.button {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--red-bg-color);
  font-size: 12px;
  transition: 0.5s;
}

.button:hover {
  background-color: var(--red-bg-color);
  color: var(--blue-bg-color)
}

.color-red {
  color: var(--red-bg-color);
}
