.project-container {
  width: 80%;
  height: 80%;
}

.component-container {
  position: relative;
  transition: 0.5s;
}

.cover-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.button {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--yellow-bg-color);
  font-size: 12px;
  transition: 0.5s;
}

.button:hover {
  background-color: var(--yellow-bg-color);
  color: var(--blue-bg-color)
}

.color-yellow {
  color: var(--yellow-bg-color);
}

.explenation {
  background-color: var(--yellow-bg-color);
  position: absolute;
  width: 100%;
  height: 150px;
  margin: 0;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  text-decoration: none;
  color: var(--blue-bg-color);
}

.explenation:hover {
  opacity: 1;
}

.component-header {
  font-weight: 300;
  font-size: 50px;
}
