.left-container {
  height: 100vh;
  width: 20%;
}

#nav-container {
  margin-top: 0;
}

.text-container {
  width: 60%;
}

.header {
  font-weight: 300;
  font-size: 150px;
  top: 100px;
  left: 350px;
  color: var(--yellow-bg-color);
  position: absolute;
  z-index: -10;
}

.main-text {
  font-size: 20px;
}

.language-text {
  text-align: center;
  font-weight: 400;
}

.trans {
  margin-top: 10px;
  opacity: 0;
  transition: 1.5s;
}

.download-link {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 300;
  color: var(--yellow-bg-color);
  transition: 0.5s;
  border: 2px solid var(--yellow-bg-color)
}

.download-link:hover {
  color: var(--blue-bg-color);
  background-color: var(--yellow-bg-color);
}
