.navbar {
  margin-left: 30px;
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
}

.nav-list {
  height: 100%;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 12px;
  list-style: none;
}

.nav-list-items {
  display: flex;
  width: 150px;
}

.icon-container {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 18px;
}

.link-container {
  background-color: var(--yellow-bg-color);
  padding: 15px;
  opacity: 0;
  transition: 0.5s;
  font-weight: 600;
  border-radius: 0 10px 10px 0;
  font-size: 18px
}

a {
  text-decoration: none;
  color: var(--blue-bg-color);
}
