@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --yellow-bg-color: #e9c46a;
  --blue-bg-color: #264653;
  --green-bg-color: #86bbd8;
  --orange-bg-color: #b8b8d1;
  --red-bg-color: #A76D60;
}

body {
  background-color: #264653;
  font-family: 'Inter';
  margin: 0;
}

.right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
